modules = ["python-3.11"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Casino Bot Info"

[[workflows.workflow]]
name = "Casino Bot Info"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python replit_info.py"

[workflows.workflow.metadata]
outputType = "console"

[userenv]

[userenv.shared]
ADMIN_IDS = "7748988189"
DEPOSIT_FEE_PERCENT = "2"
LTC_REQUIRED_CONFIRMATIONS = "1"
LTC_MASTER_ADDRESS = "ltc1qjzwa9ywdl5e7kv5m23vn87m3uerpuf85r3r2cx"
WITHDRAWAL_GROUP_ID = "-5089646716"

[userenv.production]
WEBHOOK_URL = "https://replit-casino-bot--stugbak2.replit.app"

[userenv.development]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 46147
externalPort = 3000

[deployment]
deploymentTarget = "vm"
run = ["python", "main.py"]
